@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 1168px;
    margin: auto;
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  .dropdown:hover .dropdown-menu {
    max-height: 500px; /* Adjust this value according to the content height */
    opacity: 1;
  }